[project]
	description = SkyRing is a modern, extensible web-based storage management platform.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ramesh (dpmramesh)
[access "refs/for/refs/*"]
	read = group user/Ramesh (dpmramesh)
	push = group user/Ramesh (dpmramesh)
	label-Code-Review = -2..+2 group user/Ramesh (dpmramesh)
	label-Verified = -1..+1 group user/Ramesh (dpmramesh)
	rebase = group user/Ramesh (dpmramesh)
	removeReviewer = group user/Ramesh (dpmramesh)
	submit = group user/Ramesh (dpmramesh)
[access "refs/heads/*"]
	read = group user/Ramesh (dpmramesh)
	create = group user/Ramesh (dpmramesh)
	push = +force group user/Ramesh (dpmramesh)
	pushMerge = group user/Ramesh (dpmramesh)
[access "refs/tags/*"]
	push = +force group user/Ramesh (dpmramesh)
	pushTag = group user/Ramesh (dpmramesh)
	pushSignedTag = group user/Ramesh (dpmramesh)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[submit]
	action = fast forward only
	mergeContent = false
