[project]
	description = SkyRing is a modern, extensible web-based storage management platform.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ramesh (dpmramesh)
	push = group user/Kanagaraj M (kmkanagaraj)
	label-Code-Review = -2..+2 group user/Kanagaraj M (kmkanagaraj)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[submit]
	action = fast forward only
	mergeContent = false
